*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: #c7c7c7;
    border: 0;
    border-radius: 20px;
}
*{
    scrollbar-width: thin;
    scrollbar-color: rgba(187, 187, 187, 0.5), transparent;
}

.library{
    position: fixed;
    top: 0;
    height: 100%;
    width: 20rem;
    overflow-y: scroll;
    box-shadow: 2px 2px 40px #b9b9b9;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s all linear;
    background-color: #fff;
    h2{
        padding: 2rem;
    }
}
.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        background-color: rgb(205, 195, 238);
    }
    img{
        width: 30%;
    }
    .song-description{
        padding-left: 1rem;
        h3{
            font-size: 1rem;
        }
        h4{
            font-size: 0.75rem;
        }
    }
}

.selected{
    background: rgb(188, 176, 235);
}
.library-active{
    transform: translate(0);
    opacity: 1;
}
@media (min-width: 0) and (max-width: 768px) {
    .library{
        background-color: #fff;
        width: 100%;
    }
    
}