*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'SF Pro Display', sans-serif;
                                                
}

.App{
    transition: all 0.25s linear;
}
.transitions{
    transition: all 0.25s linear;
}

.library-actives-player{
    margin-left: 30%;
}

@import "./_song";
@import "./_player";
@import "./library";
@import "./nav"

